
/* Auth 01 */
.auth-01{display:block; position:relative; width:100%;}
.auth-01 > .wrapper{
    min-height:calc(100vh - 4.5rem); display:flex; align-items:center; justify-content:center;
    width:100%; background-size:cover; background-position:center;
}
@media screen and (max-width:991.98px){
    .auth-01 > .wrapper{min-height:calc(100vh - 4rem);}
}
@media screen and (max-width:767.98px){
    .auth-01 > .wrapper{min-height:calc(100vh - 3.75rem);}
}


/* Auth Footer */
.auth-footer{display:block; position:relative; width:100%;}
.auth-footer .wrapper{width:100%; display:flex; align-items:center; justify-content:center;}
.auth-footer img{display:block; height:4.5rem; width:auto;}
.auth-footer .text-container{margin:.6875rem 0 0 0;}
@media screen and (max-width:991.98px){
    .auth-footer img{height:4rem;}
    .auth-footer .text-container{margin:.5rem 0 0 0;}
}
@media screen and (max-width:767.98px){
    .auth-footer img{height:3.75rem;}
    .auth-footer .text-container{margin:.25rem 0 0 0;}
}


/* Tab Container */
.tab-container{position:relative; display:block; width:100%;}
.tab-container .tabs{position:relative; width:100%;}
.tab-container .tab{cursor:pointer;}
.tab-container .tab-contents{position:relative; width:100%;}
.tab-container .tab-content{position:relative; display:none; width:100%; padding:0; margin:0;}
.tab-container .tab-content.active{display:block;}
